server:
  port: 8080

spring:
  application:
    name: api-gateway

  cloud:
    gateway:
      routes:

        - id: clientes-service
          uri: http://servicioclientes:8081
          predicates:
            - Path=/api/clientes/**, /api/contenedores/**
          filters:
            - RewritePath=/api/(?<segment>.*), /${segment}

        - id: camiones-service
          uri: http://serviciocamiones:8082
          predicates:
            - Path=/api/camiones/**, /api/tipos-camion/**, /api/transportistas/**
          filters:
            - RewritePath=/api/(?<segment>.*), /${segment}

        - id: tarifa-service
          uri: http://serviciotarifa:8083
          predicates:
            - Path=/api/tarifas/**, /api/costos/**
          filters:
            - RewritePath=/api/(?<segment>.*), /${segment}

        - id: rutas-service
          uri: http://serviciorutas:8084
          predicates:
            - Path=/api/rutas/**, /api/tramos/**
          filters:
            - RewritePath=/api/(?<segment>.*), /${segment}

        - id: usuarios-service
          uri: http://serviciousuarios:8085
          predicates:
            - Path=/api/usuarios/**
          filters:
            - RewritePath=/api/(?<segment>.*), /${segment}

        - id: depositos-service
          uri: http://serviciodepositos:8086
          predicates:
            - Path=/api/depositos/**, /api/ubicaciones/**, /api/ciudades/**, /api/provincias/**
          filters:
            - RewritePath=/api/(?<segment>.*), /${segment}

        - id: solicitudes-service
          uri: http://serviciosolicitudes:8087
          predicates:
            - Path=/api/solicitudes/**
          filters:
            - RewritePath=/api/(?<segment>.*), /${segment}

  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: ${SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_ISSUER_URI}

keycloak:
  server-url: ${KEYCLOAK_SERVER_URL}
  realm: ${KEYCLOAK_REALM}
  client-id: ${KEYCLOAK_CLIENT_ID}
  redirect-uri: ${KEYCLOAK_REDIRECT_URI}

logging:
  level:
    org.springframework.cloud.gateway: DEBUG
