server:
  port: 8080 # Puerto de entrada único

spring:
  application:
    name: api-gateway
  
  # --- 1. TU CONFIGURACIÓN DE RUTAS (EXISTENTE) ---
  cloud:
    gateway:
      routes:
        # 1. ServicioClientes (8081)
        - id: clientes-service
          uri: http://localhost:8081
          predicates:
            - Path=/api/clientes/**, /api/contenedores/**
          filters:
            - RewritePath=/api/(?<segment>.*), /$\{segment}

        # 2. ServicioCamiones (8082)
        - id: camiones-service
          uri: http://localhost:8082
          predicates:
            - Path=/api/camiones/**, /api/tipos-camion/**, /api/transportistas/**
          filters:
            - RewritePath=/api/(?<segment>.*), /$\{segment}

        # 3. ServicioTarifa (8083)
        - id: tarifa-service
          uri: http://localhost:8083
          predicates:
            - Path=/api/tarifas/**, /api/costos/**
          filters:
            - RewritePath=/api/(?<segment>.*), /${segment}


        # 4. ServicioRutas (8084)
        - id: rutas-service
          uri: http://localhost:8084
          predicates:
            - Path=/api/rutas/**, /api/tramos/**
          filters:
            - RewritePath=/api/(?<segment>.*), /$\{segment}

        # 5. ServicioUsuarios (8085)
        - id: usuarios-service
          uri: http://localhost:8085
          predicates:
            - Path=/api/usuarios/**
          filters:
            - RewritePath=/api/(?<segment>.*), /$\{segment}

        # 6. ServicioDepositos (8086)
        - id: depositos-service
          uri: http://localhost:8086
          predicates:
            - Path=/api/depositos/**, /api/ubicaciones/**, /api/ciudades/**, /api/provincias/**
          filters:
            - RewritePath=/api/(?<segment>.*), /$\{segment}

        # 7. ServicioSolicitudes (8087)
        - id: solicitudes-service
          uri: http://localhost:8087
          predicates:
            - Path=/api/solicitudes/**
          filters:
            - RewritePath=/api/(?<segment>.*), /$\{segment}

  # --- 2. SECCIÓN DE SEGURIDAD (AGREGADA) ---
  # Esta es la configuración oficial de Spring Security
  # Le dice al "Guardia" (Resource Server) dónde validar los tokens (JWT).
  security:
    oauth2:
      resourceserver:
        jwt:
          # Le dice dónde está la "oficina" de Keycloak (8090)
          issuer-uri: http://localhost:8090/realms/tpi-backend

# --- 3. TU CONFIGURACIÓN PERSONALIZADA (EXISTENTE) ---
# (Esta la usa tu KeycloakCallbackController)
keycloak:
  server-url: http://localhost:8090
  realm: tpi-backend
  client-id: tpi-backend-client
  redirect-uri: http://localhost:8080/api/login/oauth2/code/keycloak


#debug
logging:
  level:
    org.springframework.cloud.gateway: DEBUG
